.input:focus {
  border-radius: 5px;
  border: 1px solid #d1d1d1;
}

.input {
  width: 372px;
  height: 36px;
  flex-shrink: 0;
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
  display: flex;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid #cc1439;
}

.errorInput:focus {
  border-radius: 5px;
  border: 1px solid #cc1439;
}

.error {
  color: #cc1439;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
}
