.App {
  --header_height: 60px;
  /* МОИ СТИЛИ */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin: 40px;
  /* МОИ СТИЛИ */
}

.hw {
  /* МОИ СТИЛИ */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  /* МОИ СТИЛИ */
}

.hwInnerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hwInnerContainer > :nth-child(odd) {
  margin-left: 53.7%;
}

.hwTitle {
}
