.App {
  --header_height: 60px;
  /* МОИ СТИЛИ */
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 100px;
  /* МОИ СТИЛИ */
}

.hw {
  /* МОИ СТИЛИ */
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* МОИ СТИЛИ */
}

.hwInnerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* .hwInnerContainer > :nth-child(odd) {
  margin-left: 53.7%;
} */

.hwTitle {
  display: flex;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;

  color: #000;
  font-size: 22px;
  font-weight: 600;
}
