.button {
  padding: 5px 24px;

  justify-content: center;
  align-items: center;

  border-radius: 3px;
  border: none;
  background: #06c;

  color: var(--Light-140, #fff);
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.disabled {
  width: 133px;
  height: 30px;
  border-radius: 3px;
  opacity: 0.5;
  background: var(--primary-100, #06c);

  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.secondary {
  display: inline-flex;
  width: 129px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #06c;
  background: #fff;

  color: #06c;
  font-size: 14px;
  font-weight: 600;
  /* line-height: 20px; */
}

.default {
  width: 132px;
  height: 30px;
  border-radius: 3px;
  background: var(--primary-100, #06c);

  color: var(--light-140, #fff);
  font-size: 14px;
  font-weight: 600;
}

.red {
  width: 129px;
  height: 30px;
  border-radius: 3px;
  background: var(--danger-100, #cc1439);

  color: var(--light-140, #fff);
  font-size: 14px;
  font-weight: 600;
}

.default:hover {
  width: 167px;
  background: #0080ff;
}

.red:hover {
  width: 167px;
  background: #ff1a47;
}

.secondary:hover {
  width: 129px;
  border-radius: 3px;
  border: 1px solid #06c;
}

.default:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.secondary:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.red:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
